/* This is the file you will be working in. Don't change any other files in any way, shape or form or the police will be involved. Thank you :) */

.circus {
    border: none;
}

.circus label {
    font-size: 20px;
}

.form-item:nth-child(-n+2) input {
    transform: rotate(180deg);
    text-align: right;
}

.form-item:nth-child(odd) input {
    border: 2px solid #FF0000;
}

h3.strongman span:first-child {
    text-transform: uppercase;
}

.circus .blue {
    color: blue;
}

#lion-tamer {
    visibility: visible;
}

.circus span:not(.blue) {
    background-color: #FF0000;
}